.home-header{
    min-height: 45rem;
    background: url('../../images/headerImage.png');
    background-position: 73% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-inline: clamp(1rem, 5%, 10rem);
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    & * {
        position: relative;
        z-index: 1;
        color: white;
    }
    

    & > h1{
        font-family: var(--f-secondary);
        font-size: 4rem;
        color: white;
    }

    & > div {
        display: flex;
        gap: 5rem;

        & > a {
            position: relative;
            background-color: var(--background-primary);
            padding: 1rem 1.5rem;
            border-radius: .8rem;

            &:hover {
                background-color: var(--background-primary-offset);
            }
        }
    }
}

@media (max-width: 850px) {
    .home-header {
        align-items: center;
        background: url('../../images/headerImageDark.png');
        background-position: 73% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        & > h1 {
            text-align: center;
            font-size: 3rem;
        }
    }
}

@media (max-width: 450px){
    .home-header {
        & > div {
            flex-direction: column;
            gap: 1rem;
            width: 70%;
            text-align: center;

            & > a{
                background-color: transparent;
                &::after{
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: rgba(255, 255, 255, 0.10); 
                    backdrop-filter: blur(10px);           
                    -webkit-backdrop-filter: blur(10px); 
                    border-radius: .8rem;
                }
            }
        }
    }
}