@import './bookForm.css';
@import './bookCalendar.css';
.book{
    position: relative;
    background: url('../../images/bookBackground.svg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding-inline: clamp(1rem, 5vw, 10rem);
    min-height: calc(100svh - 15rem);
    padding-top: 10rem;
    padding-bottom: 10rem;

    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 35%;
    }
}

@media (max-width: 850px){
    .book{
        flex-direction: column-reverse;
        align-items: center;
    }
}


